.clangd
.DS_Store
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
src/game.dSYM/Contents/Info.plist
src/game.dSYM/Contents/Resources/DWARF/game
src/game.dSYM/Contents/Resources/Relocations/x86_64/game.yml
src/game
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.2.1/CMakeSystem.cmake
build/CMakeFiles/4.2.1/CompilerIdCXX/a.out
build/CMakeFiles/4.2.1/CompilerIdCXX/apple-sdk.cpp
build/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/game.dir/build.make
build/CMakeFiles/game.dir/cmake_clean.cmake
build/CMakeFiles/game.dir/compiler_depend.make
build/CMakeFiles/game.dir/compiler_depend.ts
build/CMakeFiles/game.dir/depend.make
build/CMakeFiles/game.dir/DependInfo.cmake
build/CMakeFiles/game.dir/flags.make
build/CMakeFiles/game.dir/link.txt
build/CMakeFiles/game.dir/progress.make
build/CMakeFiles/game.dir/src/main.cpp.o
build/CMakeFiles/game.dir/src/main.cpp.o.d
build/CMakeFiles/game.dir/src/Player.cpp.o
build/CMakeFiles/game.dir/src/Player.cpp.o.d
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/Makefile
CMakeLists.txt
